$nav-background: blue;
$nav-height    : 50px;

nav {
    background-color: $nav-background;
    height          : $nav-height;

    ul {
        list-style-type: none;

        li {
            flex: 1 1 auto;

            a {
                color: red;

                &:hover,
                &:focus,
                &:active {
                    color           : white;
                    background-color: red;
                }
            }
        }
    }
}